@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <picture>
        <source srcset="https://kartinkof.club/uploads/posts/2022-03/1648267624_30-kartinkof-club-p-mem-postavte-5-30.jpg" type="image/webp">
        <img src="https://kartinkof.club/uploads/posts/2022-03/1648267624_30-kartinkof-club-p-mem-postavte-5-30.jpg" alt="Welcome Image">
    </picture>
</div>
